body{
    background-color: rgb(3, 36, 3);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    text-align: center;
    font-weight:bolder;
}
h1{
    color: goldenrod;
    
}
#message_id{
    font-style: italic;
}
button{
    color: #016f32;
    width: 150px;
    height: 50px;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor:pointer;
    margin-bottom:2px;
    margin-top: 2px;
}
button:hover{
    background-color: rgb(217, 240, 17);
}
#player_id{
    background-color:maroon;
    cursor: pointer;
}
#player_id:hover{
    background-color: rgb(13, 14, 13);
}
#apple-shelf{
    display: block;
    height: 100px;
    background-color: rgb(223, 75, 30);
    margin: 4px;
    margin-top: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    border: 10px solid rgb(165, 182, 167);
    flex-wrap: wrap;
    padding-top: 35px;
}
#orange-shelf{
    display: block;
    height: 100px;
    background-color: rgb(15, 97, 97);
    margin: 4px;
    margin-top: 10px;
    margin-bottom: 4px;
    cursor: pointer;
    text-align: center;
    border: 10px solid rgb(141, 189, 9);
    padding-top: 35px;
}
#apple-shelf:hover{
    background-color: red
}
#orange-shelf:hover{
    background-color: orange;
}
#box{
    color:white;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    background: blue;
    font-weight: bold;
    padding: 40px;
    cursor: pointer;
}
#box:hover{
    background: rgb(27, 125, 170);
}
#container{
    color:white;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    background: rgb(166, 233, 12);
    font-weight: bold;
    padding: 40px;
    cursor: pointer;
}
#container:hover{
    background: rgb(27, 125, 170);
}
#contain{
    color:white;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    background: rgb(4, 57, 136);
    font-weight: bold;
    padding: 40px;
    cursor: pointer;
}
#contain:hover{
    background: rgb(245, 110, 20);
}
#tin{
    color:white;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    background: rgb(78, 3, 45);
    font-weight: bold;
    padding: 40px;
    cursor: pointer;
}
#tin:hover{
    background: rgb(141, 8, 8);
}
.team-img{
    width: 100px;
    border-radius: 100%;
    margin: 10px;
}
#score{
    color:white;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    background: rgb(29, 1, 1);
    font-weight: bold;
    padding: 40px;
    cursor: pointer;
}
#score:hover{
    background: rgb(141, 8, 8);
}
#dea{
    color: goldenrod;
    text-align: center;
    text-decoration: double;
    font-weight: bolder;
}